@import url(styles.css);

body, html {
    font-family: var(--default-font);
    height: 100%;
    margin: 0;
}

.banner {
    background-image: url("../images/ocean.jpg");
    opacity: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.section-container {
    padding: 2rem 0rem;
}

.section-container:nth-child(even) {
    background-color: var(--container-background-color);
}

.section-title {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
}

.section-description {
    margin: 4rem;
}

.location {
    color: var(--primary-color);
    padding: 0.5rem 0rem;
    text-align: left;
}

.location:before {
    content: "";
    display: block;
    float: left;
    background: url("../images/icon_location.png") no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
