@import url(styles.css);
/* For the hamburger menu icon */

#nav-menu-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    background-color: var(--contact-container-color);
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    opacity: 0.7;
    top: 10px;
    left: 10px;
    z-index: 2;
    width: 6vw;
}

#nav-bar1, #nav-bar2, #nav-bar3 {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change #nav-bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change #nav-bar2 {
    opacity: 0;
}

.change #nav-bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

/* For the navigation drawer */

#nav-drawer-container {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    justify-content: center;
}

#nav-drawer-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem 4.5rem;
}

#nav-drawer-content a {
    color: var(--contact-container-color);
    font-size: 20px;
    margin: 0.7rem 0;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    #nav-menu-container {
        width: 2vw;
    }
}

/* Reference
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js */