:root {
    /* Fonts */
    --default-font: 'Open Sans', sans-serif !important;

    /* Colours */
    --primary-color: rgb(34, 163, 159);
    --container-background-color: rgb(242, 239, 224);
    --contact-container-color: #434242;
    --button-color: #4CAF50;
    --button-color-dark: rgb(44, 100, 46);
}